
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>pmay-website</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">



    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="/css/fontastic.css">
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <!-- jQuery Circle-->
    <link rel="stylesheet" href="/css/grasp_mobile_progress_circle-1.0.0.min.css">
    <!-- Custom Scrollbar-->
    <link rel="stylesheet" href="/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <!-- laderboard styling -->
    <!-- Latest compiled and minified Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="css/leaderboardstyle.css"> -->
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->




  </head>
  <body>
    <!-- Side Navbar -->
    <nav class="side-navbar">
      <div class="side-navbar-wrapper">
        <!-- Sidebar Header    -->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
          <!-- User Info-->
          <div class="sidenav-header-inner text-center"><img src="/images/avatar-1.jpg" alt="person" class="img-fluid rounded-circle">
            <h2 class="h5">User</h2>
          </div>
          <!-- Small Brand information, appears on minimized sidebar-->
          <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">D</strong></a></div>
        </div>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
          <h5 class="sidenav-heading">Main</h5>
          <ul id="side-main-menu" class="side-menu list-unstyled">
            <li><a href="index.html"> <i class="icon-home"></i>Home                      </a></li>
            <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Training </a>
              <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                <li><a href="videos.html">Videos</a></li>
                <li><a href="/users/ulbquiz">Quizes</a></li>
              </ul>
            </li>
            <li> <a href="#"> <i class="icon-mail"></i>Schemes
                <div class="badge badge-warning">6 New</div></a></li>
          </ul>
        </div>
        <div class="admin-menu">
          <h5 class="sidenav-heading">Profile</h5>
          <ul id="side-admin-menu" class="side-menu list-unstyled">
            <li> <a href="#"> <i class="icon-screen"> </i>Update Profile</a></li>
            <li> <a href=""> <i class="icon-flask"> </i>Progress Report</a></li>
            <li> <a href="query.html"> <i class="icon-picture"> </i>Query</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="page">
      <!-- navbar-->
      <header class="header">


                <!-- Header start -->
                        <div class="container-fluid" style="background-color:white" >

                                <div class="row" >
                                  <div class="col-2" style="margin-left: 5px">
                                     <img src="/images/logo.JPG" align="left" alt="image" style="float:left">
                                  </div>
                                  <div class="col-6" style="margin:20px;margin-right:90px; ">
                                   <h2 style="color:blue ;font-size: 25px ;text-align: left;font-weight:500; line-height: 1.1; color: #337ab7;">Pradhan Mantri Awas Yojana-Housing for All (Urban)</h2>
                                   <h4 style="text-align: center ; color: #337ab7;"> Ministry of Housing and Urban Affair</h4>
                                   <h5 style="text-align: center">Government of India</h5>
                                  </div>
                                  <div class="col-2" style="margin-right:40px;float:right" >
                                   <img src="/images/logo2.JPG" alt="image2"  >
                                  </div>
                                </div>


                       </div>
                <!-- Header end -->




        <nav class="navbar">
          <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
              <div class="navbar-header"><a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars"> </i></a><a href="index.html" class="navbar-brand">
                  <div class="brand-text d-none d-md-inline-block"><strong class="text-primary">Dashboard</strong></div></a></div>
              <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                <li class="nav-item dropdown"> <a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-bell"></i><span class="badge badge-warning">12</span></a>
                  <ul aria-labelledby="notifications" class="dropdown-menu">
                    <li><a rel="nofollow" href="#" class="dropdown-item">
                        <div class="notification d-flex justify-content-between">
                          <div class="notification-content"><i class="fa fa-envelope"></i>You have 6 new messages </div>
                          <div class="notification-time"><small>4 minutes ago</small></div>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item">
                        <div class="notification d-flex justify-content-between">
                          <div class="notification-content"><i class="fa fa-twitter"></i>You have 2 followers</div>
                          <div class="notification-time"><small>4 minutes ago</small></div>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item">
                        <div class="notification d-flex justify-content-between">
                          <div class="notification-content"><i class="fa fa-upload"></i>Server Rebooted</div>
                          <div class="notification-time"><small>4 minutes ago</small></div>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item">
                        <div class="notification d-flex justify-content-between">
                          <div class="notification-content"><i class="fa fa-twitter"></i>You have 2 followers</div>
                          <div class="notification-time"><small>10 minutes ago</small></div>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong> <i class="fa fa-bell"></i>view all notifications                                            </strong></a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown"> <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-envelope"></i><span class="badge badge-info">10</span></a>
                  <ul aria-labelledby="notifications" class="dropdown-menu">
                    <li><a rel="nofollow" href="#" class="dropdown-item d-flex">
                        <div class="msg-profile"> <img src="/images/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="msg-body">
                          <h3 class="h5">Jason Doe</h3><span>sent you a direct message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item d-flex">
                        <div class="msg-profile"> <img src="/images/avatar-2.jpg" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="msg-body">
                          <h3 class="h5">Frank Williams</h3><span>sent you a direct message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item d-flex">
                        <div class="msg-profile"> <img src="/images/avatar-3.jpg" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="msg-body">
                          <h3 class="h5">Ashley Wood</h3><span>sent you a direct message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong> <i class="fa fa-envelope"></i>Read all messages    </strong></a></li>
                  </ul>
                </li>
                <li class="nav-item"><a href="login.html" class="nav-link logout">Logout<i class="fa fa-sign-out"></i></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!-- Counts Section -->
      <section class="dashboard-counts section-padding">


<div class="col-lg-12">

 

            <div id="alert" class="alert alert-success"></div>
          
          </div>
           <script>
    $('#alert').hide()
</script>

      {{!-- <!-- Alert box starts -->
      <div class="col-md-12"style="height:1;">
       <div class="container">
         <div class="alert alert-info alert-dismissible fade show">
             <button type="button" class="close" data-dismiss="alert">&times;</button>
             <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
        </div>
       </div>
      </div>
      <!-- Alert bix ends --> --}}

<div class="col-lg-12">

 

            <div id="quiztype" class="alert alert-success">{{quizname}}</div>
          
          </div>



<!-- dashboard starts -->
      <section class="dashboard-header section-padding">
    

        <div  id="test"  style="margin:50px;border:ridge">
         
<form method="get" action="./ques-ans">

      <p class="question"  style="margin:40px " id="question">{{data.question}}</p>

      <ul>

<div class="row"  >

   <div class="col-sm-4"style="margin-top:20px">
      <input class="answer" type="radio" name="q1" id="a1" value={{data.op1}}>
        <label id="op1">{{data.op1}}</label>
      <br>
        <input class="answer" type="radio" name="q1" id="a2" value="{{data.op2}}">
        <label id="op2">{{data.op2}}</label>
    </div>

    <div class="col-sm-4">
        <br>
        <input class="answer" type="radio" name="q1" id="a3" value="{{data.op3}}">
        <label id="op3">{{data.op3}}</label>
        <br>
        <input class="answer" type="radio" name="q1" id="a4" value="{{data.op4}}">
        <label id="op4">{{data.op4}}</label>
  </div>

</div>

      </ul>
      <button type="submit" id="next" class="btn btn-primary"style="margin:20px;margin-left:40px">Next Ques</button>

        <button type="submit" id="sub" class="btn btn-primary"style="margin:20px;margin-left:40px">Submit</button>
      
    
    </div>

</form>

      </section>
      <!-- Dashboard section end -->









            <!--start of footer -->

                  <!--Footer-->
                  <footer class="page-footer font-small blue-grey lighten-5 pt-0" style="margin-top: 10px;margin-right:10px;">

                      <div style="background-color:#F0B27A;margin-left:0px;margin-right:0" id="init">
                          <div class="container-fluid"style="margin-left:0px;margin-right:0;">
                              <!--Grid row-->
                              <div class="row py-4 d-flex align-items-center">

                              </div>
                              <!--Grid row-->
                          </div>
                      </div>

                      <!--Footer Links-->
                      <div class="container-fluid">
                          <div class="row ">
                              <!--First column-->

                              <div class="col-sm col-md-4 col-xs-2  dark-grey-text" style="margin-left:0px;">
            <br>
                                  <img src="/images/pmay.jpg" width="100px" align="right"/>
                                  <h6 class="title font-weight-bold"><b>Pradhan Mantri Awas Yojana-<em>Housing for All</em></b></h6>
                                  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                                  <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit
                                      amet, consectetur adipisicing elit.</p>
                              </div>
                              <!--/.First column-->

                              <!--Second column-->
                              <div class="col-sm dark-grey-text">
                                <br>
                                  <h6 class="title font-weight-bold"><strong>SERVICES</strong></h6>
                                  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                                  <p><a href="#!" class="dark-grey-text">Online Services</a></p>
                                  <p><a href="#!" class="dark-grey-text">PMAY CARE</a></p>
                                  <p><a href="#!" class="dark-grey-text">EFAQ</a></p>
                                  <p><a href="#!" class="dark-grey-text">PMAY App Store</a></p>
                                  <p><a href="#!" class="dark-grey-text">Feedback/Survey</a></p>

                              </div>
                              <!--/.Second column-->

                              <!--Third column-->
                              <div class="col-sm dark-grey-text">
                                <br>
                                  <h6 class="title font-weight-bold"><strong>INFORMATION</strong></h6>
                                  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                                  <p><a href="#!" class="dark-grey-text">About PMAY</a></p>
                                  <p><a href="#!" class="dark-grey-text">E-Newsletter</a></p>
                                  <p><a href="#!" class="dark-grey-text">Latest Updates</a></p>
                                  <p><a href="#!" class="dark-grey-text">Website Policy</a></p>
                                  <p><a href="#!" class="dark-grey-text">Terms And Conditions</a></p>

                              </div>
                              <!--/.Third column-->

                              <!--Fourth column-->
                              <div class="col-sm dark-grey-text">
                                <br>
                                  <h6 class="title font-weight-bold"><strong>CONTACT</strong></h6>
                                  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                                  <p><i class="fa fa-home mr-3"></i> Mumbai 10012, INDIA</p>
                                  <p><i class="fa fa-envelope mr-3"></i> info@example.com</p>
                                  <p><i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
                                  <p><i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
                              </div>
                              <!--/.Fourth column end-->

                              <!--Fifth column  -->
                              <div class="col-sm  dark-grey-text" style="align:right;width:100px" >
            <br>
                                <img src="/images/nic.in.png" width="200">
                              </div>
                              <!--Fifth column end -->

                          </div>
                      </div>
                      <!--/.Footer Links-->

                      <!-- Copyright-->
                      <div class="footer-copyright py-3 text-center">
                          <div class="container-fluid">
                              © 2017 Copyright: <a href="#"><strong> PMAY.com</strong></a>
                          </div>
                      </div>
                      <!--/.Copyright -->

                  </footer>
                  <!--/.Footer-->
    </div>

    <!-- Javascript files-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/grasp_mobile_progress_circle-1.0.0.min.js"></script>
    <script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/charts-home.js"></script>
    <!-- Main File-->
    <script src="/js/front.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

 <script>
var counter=1;
$('#next').on('click',function(event)
{console.log(counter)
	event.preventDefault();

event.stopPropagation();
var data={};
data.quiztype=$("#quiztype").html();
console.log(data)
$.ajax({
  type: 'post',
  url: "/users/next",
  data:data,
  dataType:'json'
}) // At this point the request is sent to the server
// and the client uses the response it gets down here
  .done(function(response) {
	  console.log(response);
    populate(response);
  })
.fail(function(error)
{
	console.log('no more')

}
)
})
 function populate(data)
{
	if(data.length<=counter)
	{
$('#test').html("no more Question")

$('#alert').hide()
	}
	else{
    $('#sub').show()
    $('#alert').hide()
console.log("data found")
$('#question').html(data[counter].question)
$('#op1').html(data[counter].op1)
$('#op2').html(data[counter].op2)
$('#op3').html(data[counter].op3)
$('#op4').html(data[counter].op4)
$('#a1').attr('value',(data[counter].op1))
$('#a2').attr('value',(data[counter].op2))
$('#a3').attr('value',(data[counter].op3))
$('#a4').attr('value',(data[counter].op4))
counter++;}
}

	 </script>


   <script>
        $("#sub").on('click',function(event) {
                event.preventDefault();
                var data = {};
                data.quiztype=$("#quiztype").html();
               data.question=$('#question').html();
                data.ans = $('input[name=q1]:checked').val();
                console.log(data)
               $('#sub').hide()
                $.ajax({
                    type: 'post',
                    url: '/users/sub',
                    data: data,
                    dataType: 'json',
                   
                    }).done(function(response) {
	  fill(response)
    
  })
.fail(function(error)
{
	console.log('no more')

}
)
function fill(response)
{ 
    $('#alert').show()


  if(response==true)
  { $('#alert').attr('class','alert alert-success')
$('#alert').html("Right Answer")
  }
  else{
  $('#alert').attr('class','alert alert-danger')
  
    $('#alert').html("Wrong Answer")
  }
}
                });
            
   </script>


    <!-- jQuery library -->
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->

<!-- Popper -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->

<!-- Latest compiled and minified Bootstrap JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

  </body>

